<!DOCTYPE html>
<html>
  <head>
    <title>HIER :: {{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/screen.css">
    <link rel="icon" type="image/png" href="/static/images/favicon-16.png" sizes="16">
    <link rel="icon" type="image/png" href="/static/images/favicon-32.png" sizes="32">
    <script type="text/javascript" src="/static/js/hier.js"></script>
    <!-- This is dynamically generated to have the repo's configuration -->
    <script type="text/javascript" src="/js/data.js"></script>
  </head>
  <body>
    <div class="logo">
      <img src="/static/images/logo-small.png" alt="[Hier]">
    </div>
    <div class="body-wrapper">
      <div class="header navbar">
	<table width="100%">
	  <tr>
	    <td><a href="/wiki">Wiki</a></td>
	    <td><a href="/ticket">Tickets</a></td>
	    <td><a href="/ticket/new">New ticket</a></td>
	  </tr>
	</table>
      </div>
      <div class="content">
	
